body
{
    font-family: "Rubik";
    background-color: #021F30;
}

/* pour tout les éléments */
*
{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

/* menu déroulant */
.sidebar
{
    position: fixed;
    right: -250px;
    width: 250px;
    height: 100%;
    background-color: #065B8E;

    transition: all 500ms ease;

}

/* titre menu deroulant */
.sidebar header
{
    color: white;
    font-size: 22px;
    text-align: center;
    line-height: 70px;
    user-select: none;
    background-color: #044C77;
}

/* tout les boutons du menu déroulant */
.sidebar ul a
{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: white;
    padding-right: 40px;
    transition: 400ms;

    /* faire des barre en métale */
    box-sizing: border-box;
    border-bottom: 1px solid rgba(255,255,255,.1);
}

/* animation vers la gauche */
ul li:hover a#choice
{padding-left: 50px;}

/* décalage entre les icons et le texte */
.sidebar ul a
{padding-left: 16px;}

#check
{display: none;}

label #btn,label #cancel
{
    /* reste fixe */
    position: absolute;
    cursor: pointer;
    /* background-color: #043A5A; */
    border-radius: 3px;
}

/* position du btn (pour cadis) */
label #btn
{
    right: 40px;
    top: 25px;
    font-size: 35px;
    color: white;
    padding: 6px 12px;
    transition: all 500ms;
}

/* position du btn (pour la croix) */
label #cancel
{
    /* a voir à quoi sa sert */
    z-index: 1111;

    right: -195px;
    top: 17px;
    font-size: 30px;
    color: #021F30;
    padding: 4px 9px;
    transition: all 500ms;
}

/* detecte lorsque l'utilisateur click */
#check:checked ~ .sidebar
{right: 0;}

/* mettre le fond en sombre */
#check:checked ~ label #cancel
{
    right: 195px;
}

body
{
    max-width: 100%;
    overflow-x: hidden;
}

#paiement
{
    /* position */
    border-radius: 15px;
    margin-top: 510px;

    font-family: "Rubik";
    text-align: center;
    background-color: white;
    color: #065b8e;
}

iframe{
    border-radius: 10px;
}